*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: Nunito, sans-serif;
  background-color: #edeae7;
  color: #383634;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.header {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-img {
  margin-right: 8px;
}

.logo-title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn {
  font-family: Nunito, sans-serif;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn__primary {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  background-color: #ef3b39;
  border-radius: 4px;
  color: white;
  padding: 4px 12px;
}

.cart-btn__img {
  padding: 2px;
}

.filters {
  border-radius: 10px;
}

.filters__title {
  font-weight: 700;
  margin-top: 20px;
}

.filters__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filters__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filters__item-title {
  font-size: 14px;
  white-space: nowrap;
}

.filters__item-checkbox {
  margin: 0 4px 0 0;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.catalog {
  width: 100%;
}

.catalog__title {
  font-size: 24px;
  font-weight: 600;
}

.catalog__subtitle {
  font-size: 14px;
}

.catalog__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

.catalog__header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: calc((100% / 3) - (2rem / 3));
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.game:nth-child(3n) {
  margin-right: 0;
}

.game__img {
  width: 100%;
  margin-bottom: 8px;
}

.game__title {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: auto;
}

.game__options {
  font-size: 14px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #eee;
  border-radius: 4px;
  margin: 8px 0 16px;
}

.game__options .active {
  background-color: #fff;
}

.game__option {
  font-size: 12px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  margin: 2px;
  border-radius: 4px;
}

.game__buy-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game__add-btn {
  padding: 4px 20px;
}

.game__price {
  font-weight: 700;
}

.sort {
  font-size: 14px;
  position: relative;
}

.sort__title {
  font-weight: 600;
}

.sort__link {
  color: #ef3b39;
  text-decoration: underline;
  cursor: pointer;
}

.sort__popup {
  position: absolute;
  top: 30px;
  right: 0;
  display: block;
  width: 100px;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 12px 1px rgba(56, 54, 52, 0.2);
          box-shadow: 0px 0px 12px 1px rgba(56, 54, 52, 0.2);
  margin: 0;
}

.sort__popup-item {
  padding: 8px 12px;
  text-align: left;
  cursor: pointer;
}

.sort__popup-item:hover {
  background-color: #fef6f6;
}

.sort__popup .active {
  color: #ef3b39;
  font-weight: 600;
}
