.root {
  position: relative;
}

.icon {
  position: absolute;
  width: 20px;
  height: 20px;
  opacity: 0.3;
  top: 6px;
  left: 6px;
}

.input {
  height: 32px;
  border: 1px solid #aaa;
  border-radius: 4px;
  font-size: 14px;
  padding-left: 32px;

  &:focus {
  }
}
